.cardImage{

   height: 600px;
    
   
}

@media only screen and (min-width: 600px) {
   
    .cardImage{

        height: 500px;

    }

   
}
  
@media only screen and (min-width: 768px) {
   
    .cardImage{

        height: 730px;

    }

}

@media only screen and (max-width: 320px) {
   
    .cardImage{

        height: 480px;

    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .cardImage{

        height:800px ;
    }

}

  
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    .cardImage{
        height: 1200px;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .cardImage{

        height: 780px;

    }

}

@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .cardImage{

        height: 520px;

    }
}